{% extends 'main/base.html' %}  
{% load static %}  
{% block content %}
    <div class="card" style="width: 18rem;">
    <form method='POST'>
        {% csrf_token %}
        <label for= 'title'></label>
        <input id= 'title' placeholder='Title' name='title' value='{{recent_blog.title}}'> <br>
        
        
        <label for= 'owner'></label>
        <input id= 'owner' placeholder='Owner' name='owner' value='{{recent_blog.owner}}'> <br>
        
        
        <button type="submit">update </button>
    </form>
    </div>


{% endblock %}